@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll; /* Always show vertical scrollbar to prevent jumping */
  width: 100vw;
  overflow-x: hidden;
}

/* Style for vertical scroll bar */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scroll bar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: pink; /* Thumb color */
  border-radius: 10px; /* Round the corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff66b2; /* Color when hovering */
}

/* Add this CSS to your global styles or a dedicated CSS file */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}


.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #ADD8E6;
  display: inline-block; /* Ensures it behaves properly */
  animation: typing 3s steps(40, end) infinite alternate,
             blink-caret 0.95s step-end infinite;
}

/* Typing and erasing effect */
@keyframes typing {
  from { width: 0; }
  to { width: calc(100% + 60px); }  /* Adjusts for full width */
}

/* Caret blinking effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  90% { border-color: #ADD8E6; }
}





